In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.3.5'

In [3]:
df = pd.read_csv("yellow_tripdata_2021-07.csv.gz", compression="gzip", nrows=100)

In [4]:
df.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-07-01 00:08:51,2021-07-01 00:13:05,1,0.8,1,N,90,68,1,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
1,1,2021-07-01 00:22:39,2021-07-01 00:25:58,1,0.9,1,N,113,90,2,5.0,3.0,0.5,0.0,0.0,0.3,8.8,2.5
2,1,2021-07-01 00:48:33,2021-07-01 00:54:58,1,2.8,1,N,88,232,2,10.0,3.0,0.5,0.0,0.0,0.3,13.8,2.5
3,1,2021-07-01 00:59:44,2021-07-01 01:07:09,1,1.4,1,N,79,249,1,7.0,3.0,0.5,1.5,0.0,0.3,12.3,2.5
4,1,2021-07-01 00:08:35,2021-07-01 00:16:28,0,2.0,1,N,142,238,1,8.5,3.0,0.5,0.0,0.0,0.3,12.3,2.5

In [5]:
print(pd.io.sql.get_schema(df, name="yellow_tripdata_2021_07"))

CREATE TABLE "yellow_tripdata_2021_07" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

### convert the two datetime data types from TEXT to datetime

In [6]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)

In [7]:
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [8]:
print(pd.io.sql.get_schema(df, name="yellow_tripdata_2021_07"))

CREATE TABLE "yellow_tripdata_2021_07" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

### write data to the postgresql

In [9]:
from sqlalchemy import create_engine

In [10]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [11]:
engine.connect()

In [12]:
df_iter = pd.read_csv("yellow_tripdata_2021-07.csv.gz", compression="gzip", iterator=True, chunksize=100000)

In [13]:
df_iter #TextReader object, to set up an environment where I can read the file in smaller chunks

In [14]:
df = next(df_iter)

In [15]:
len(df)

100000

In [16]:
df.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [17]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

### insert the column name to postgresql database

In [18]:
print(pd.io.sql.get_schema(df, name="yellow_tripdata_2021_07"))

CREATE TABLE "yellow_tripdata_2021_07" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [19]:
df.head(n=0).to_sql(name="yellow_tripdata_2021_07", con=engine, if_exists="replace")

In [20]:
%time df.to_sql(name="yellow_tripdata_2021_07", con=engine, if_exists="append")

Wall time: 16.6 s

In [21]:
from time import time

In [22]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name="yellow_tripdata_2021_07", con=engine, if_exists="append")
    
    t_end = time()
    
    print("inserted another chunl..., took %.3f second" % (t_end - t_start))

inserted another chunl..., took 18.607 second
inserted another chunl..., took 19.821 second
inserted another chunl..., took 21.505 second
inserted another chunl..., took 18.622 second
inserted another chunl..., took 20.105 second
inserted another chunl..., took 20.407 second
inserted another chunl..., took 20.110 second
inserted another chunl..., took 18.998 second
inserted another chunl..., took 22.158 second
inserted another chunl..., took 25.068 second
inserted another chunl..., took 20.863 second
inserted another chunl..., took 18.064 second
inserted another chunl..., took 20.490 second
inserted another chunl..., took 19.042 second
inserted another chunl..., took 22.583 second
inserted another chunl..., took 18.379 second
inserted another chunl..., took 15.404 second
inserted another chunl..., took 22.638 second
inserted another chunl..., took 41.311 second
inserted another chunl..., took 41.757 second
inserted another chunl..., took 20.934 second
inserted another chunl..., took 25.725 second
inserted another chunl..., took 27.587 second
inserted another chunl..., took 25.925 second
inserted another chunl..., took 22.682 second

C:\Users\tongj\AppData\Roaming\Python\Python37\site-packages\IPython\core\interactiveshell.py:3473: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

inserted another chunl..., took 14519.936 second
inserted another chunl..., took 29.343 second
inserted another chunl..., took 4.731 second

StopIteration: