In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv")

In [8]:
len(df)

265

In [9]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

### write data to the postgresql

In [10]:
from sqlalchemy import create_engine

In [11]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [12]:
engine.connect()

In [13]:
df.to_sql(name="zones", con=engine, if_exists="replace")